<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Web Page Description -->
    <title>myName</title>
    <link rel="stylesheet" href="./style.css" />
    <script
      defer
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      type="text/javascript"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script defer src="./domHandler.js"></script>
  </head>
  <body>
    <h1>This is myName.html</h1>
    <h2 class="msgBox"></h2>
    <% if (name) { %>
    <h2>Welcome, <%= name %> !! ☺</h2>
    <% } else { %>
    <form class="myNameForm">
      <label for="myName">Please enter your name：</label>
      <br />
      <input id="myName" type="text" />
      <br />
      <button type="submit">Submit</button>
    </form>
    <% } %>
  </body>
</html>
