<section class="landing-row landing-row1">
  <div class="landing-row-inner">
    <div class="recommanded-content">
      <div class="recommanded-content-header">
        <h2
          class="recommanded-content-heading-label recommanded-content-filters-heading"
        >
          <span
            class="recommanded-content-heading-label"
            style="font-size: medium"
          >
            Select interests to filter
          </span>
          <img
            src="../../public/icons/5349751_information_info_icon.svg"
            alt="info"
            style="width: 16px; height: 16px"
          />
        </h2>
        <div>
          <img
            src="../../public/icons/user.png"
            alt=""
            style="width: 16px; height: 16px"
          />
          <a href="#" style="color: rgb(0, 110, 255); font-weight: bold">
            Create Profile
          </a>
        </div>
      </div>
      <div class="recommanded-content-filters">
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="category-ads"
            type="checkbox"
            name="query"
            value="category:ads"
          />
          <label for="category-ads">Ads</label>
        </div>
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="category-aiandmachinelearning"
            type="checkbox"
            name="query"
            value="category:aiandmachinelearning"
          />
          <label for="category-aiandmachinelearning"
            >AI & Machinelearning</label
          >
        </div>
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="product-andorid"
            type="checkbox"
            name="query"
            value="product:andorid"
          />
          <label for="product-andorid">Andorid</label>
        </div>
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="category-ar_vr"
            type="checkbox"
            name="query"
            value="category:ar_vr"
          />
          <label for="category-ar_vr">AR/VR</label>
        </div>
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="language-c"
            type="checkbox"
            name="query"
            value="language:c"
          />
          <label for="language-c">C</label>
        </div>
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="language-csharp"
            type="checkbox"
            name="query"
            value="language:csharp"
          />
          <label for="language-csharp">C#</label>
        </div>
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="product-chromeos"
            type="checkbox"
            name="query"
            value="product:chromeos"
          />
          <label for="product-chromeos">ChromeOS</label>
        </div>
        <div class="recommanded-content-filters-item" role="listitem">
          <input
            id="category-cloud"
            type="checkbox"
            name="query"
            value="category:cloud"
          />
          <label for="category-cloud">Cloud</label>
        </div>
      </div>
      <div class="recommanded-content-list">
        <%- include("./devsite-carousel") -%>
      </div>
    </div>
  </div>
</section>
