<section class="landing-row landing-row-up fullscreen-row">
  <div class="landing-row-inner">
    <div class="landing-row-html">
      <div class="fullscreen-item">
        <h2>True in for Google I/O on May 14</h2>
        <p>
          Discover Google's latest developer tools and learn how to transform
          your work with innovation.
        </p>
        <a href="#"> Register now</a>
      </div>
    </div>
  </div>
</section>
