<div class="recommanded-content-list" role="list">
  <div class="recommanded-content-item" role="listitem">
    <p class="recommanded-content-item-type">Product</p>
    <h3 class="recommanded-content-item-heading" tooltip="">
      Hosted Libraries
    </h3>
    <p class="recommanded-content-item-description">
      Get a list of the libraries included in this Google-hosted content
      distribution...
    </p>
    <div class="recommanded-content-item-products">
      <div class="recommanded-content-item-product-icon">
        <img
          src="../../public/icons/2993685_google_icon.svg"
          alt=""
          style="width: 24px; height: 24px"
        />
      </div>
      <div class="recommanded-content-item-product-tag">Web</div>
    </div>
  </div>
  <div class="recommanded-content-item" role="listitem">
    <p class="recommanded-content-item-type">Product</p>
    <h3 class="recommanded-content-item-heading" tooltip="">
      Hosted Libraries
    </h3>
    <p class="recommanded-content-item-description">
      Get a list of the libraries included in this Google-hosted content
      distribution...
    </p>
    <div class="recommanded-content-item-products">
      <div class="recommanded-content-item-product-icon">
        <img
          src="../../public/icons/2993685_google_icon.svg"
          alt=""
          style="width: 24px; height: 24px"
        />
      </div>
      <div class="recommanded-content-item-product-tag">Web</div>
    </div>
  </div>
  <div class="recommanded-content-item" role="listitem">
    <p class="recommanded-content-item-type">Product</p>
    <h3 class="recommanded-content-item-heading" tooltip="">
      Hosted Libraries
    </h3>
    <p class="recommanded-content-item-description">
      Get a list of the libraries included in this Google-hosted content
      distribution...
    </p>
    <div class="recommanded-content-item-products">
      <div class="recommanded-content-item-product-icon">
        <img
          src="../../public/icons/2993685_google_icon.svg"
          alt=""
          style="width: 24px; height: 24px"
        />
      </div>
      <div class="recommanded-content-item-product-tag">Web</div>
    </div>
  </div>
  <div class="recommanded-content-item" role="listitem">
    <p class="recommanded-content-item-type">Product</p>
    <h3 class="recommanded-content-item-heading" tooltip="">
      Hosted Libraries
    </h3>
    <p class="recommanded-content-item-description">
      Get a list of the libraries included in this Google-hosted content
      distribution...
    </p>
    <div class="recommanded-content-item-products">
      <div class="recommanded-content-item-product-icon">
        <img
          src="../../public/icons/2993685_google_icon.svg"
          alt=""
          style="width: 24px; height: 24px"
        />
      </div>
      <div class="recommanded-content-item-product-tag">Web</div>
    </div>
  </div>
  <div class="recommanded-content-item" role="listitem">
    <p class="recommanded-content-item-type">Product</p>
    <h3 class="recommanded-content-item-heading" tooltip="">
      Hosted Libraries
    </h3>
    <p class="recommanded-content-item-description">
      Get a list of the libraries included in this Google-hosted content
      distribution...
    </p>
    <div class="recommanded-content-item-products">
      <div class="recommanded-content-item-product-icon">
        <img
          src="../../public/icons/2993685_google_icon.svg"
          alt=""
          style="width: 24px; height: 24px"
        />
      </div>
      <div class="recommanded-content-item-product-tag">Web</div>
    </div>
  </div>
</div>
