<nav class="footer-sites nocontent">
  <!-- <a href="https://developers.google.com/"
    ><img
      src="../../public/icons/lockup-google-for-developers.svg"
      alt="Google for Developers"
      style="width: 185px; height: 32px"
  /></a> -->
  <ul class="footer-sites-list">
    <li class="footer-sites-item">
      <a href="https://developers.google.com/"
        ><img
          src="../../public/icons/lockup-google-for-developers.svg"
          alt="Google for Developers"
          style="width: 185px; height: 32px"
      /></a>
    </li>
    <li class="footer-sites-item">
      <a href="#">Android</a>
    </li>
    <li class="footer-sites-item">
      <a href="#">Chrome</a>
    </li>
    <li class="footer-sites-item">
      <a href="#">Firebase</a>
    </li>
    <li class="footer-sites-item">
      <a href="#">Google Cloud Platform</a>
    </li>
    <li class="footer-sites-item">
      <a href="#">All products</a>
    </li>
  </ul>
</nav>
