<nav class="footer-utility-links nocontent">
  <ul class="footer-utility-list">
    <li class="footer-utility-item footer-utility-item1">
      <a href="#">Terms</a>
    </li>
    <li class="footer-utility-item footer-utility-item2">
      <a href="#">Privacy</a>
    </li>
    <li class="footer-utility-item footer-utility-item3">
      <span class="footer-utility-description"
        >Sign up for the Google for Developers newsletter</span
      >
      <a href="#">Subscribe</a>
    </li>
    <%- include ("./devsite-language-selector") -%>
  </ul>
</nav>
