<nav class="footer-linkboxes nocontent">
  <ul class="footer-linkboxes-list">
    <li class="footer-linkbox">
      <h3 class="footer-linkbox-heading">Connect</h3>
      <ul class="footer-linkbox-list">
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Blog</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Instagram</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">LinkedIn</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">X(Twitter)</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">YouTube</a>
        </li>
      </ul>
    </li>
    <li class="footer-linkbox">
      <h3 class="footer-linkbox-heading">Programs</h3>
      <ul class="footer-linkbox-list">
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Women Techmakers</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Google Developer Groups</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Google Developer Experts</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Accelerators</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link"
            >Google Developer Student Clubs</a
          >
        </li>
      </ul>
    </li>
    <li class="footer-linkbox">
      <h3 class="footer-linkbox-heading">Developer consoles</h3>
      <ul class="footer-linkbox-list">
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Google API Console</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link"
            >Google Cloud Platform Console</a
          >
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Google Play Console</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Firebase Console</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Actions on Goolgle Console</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Cast SDK Developer Console</a>
        </li>
        <li class="footer-linkbox-item">
          <a href="#" class="footer-linkbox-link">Chrome Web Store Dashboard</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
