<div class="top-logo-row-wrapper">
  <div class="top-logo-row">
    <button>
      <img
        src="../../public/icons/8666802_menu_navigation_icon.svg"
        alt="menu"
      />
    </button>
    <div class="product-name-wrapper">
      <a href="#" class="site-logo-link">
        <img
          src="../../public/icons/lockup-google-for-developers.svg"
          alt="Google for Developers"
          style="width: 218px; height: 32px; padding-top: 0.7rem"
        />
      </a>
    </div>
    <div class="top-logo-row-middle">
      <div class="header-upper-tabs"></div>
      <div class="search">
        <img
          src="../../public/icons/326690_magnify_search_zoom_icon.svg"
          alt="Search"
          style="width: 24px; height: 24px"
        />
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <%- include ("./devsite-language-selector") -%>
  </div>
</div>
