<footer class="main-footer">
  <div class="icons">
    <a href="https://github.com/ChiehChunLin"
      ><img class="icon" src="./public/icons/github_icon.svg" alt="github"
    /></a>
    <a href="https://www.linkedin.com/in/chieh-chun-lin-94543435/"
      ><img class="icon" src="./public/icons/linkedin_icon.svg" alt="linkein"
    /></a>
    <a href="https://www.facebook.com/chiehchun.lin"
      ><img class="icon" src="./public/icons/facebook_icon.svg" alt="facebook"
    /></a>
    <a href="https://www.instagram.com/haiamcherry/"
      ><img
        class="icon"
        src="./public/icons/instagram_icon.svg"
        alt="instagram"
    /></a>
  </div>
  <hr />
  <h4>CopyRight&copy; 2024 haiamcherry. Designed by ChiehChunLin</h4>
</footer>
