<header class="main-header">
  <a href="/">
    <div class="logo">
      <img src="/public/images/Logo.png" alt="Logo" />
      <h1>haiamcherry</h1>
    </div>
  </a>
  <ul class="main-nav">
    <li><a href="#">生活記事</a></li>
    <li><a href="#">學習筆記</a></li>
    <li><a href="#">閱讀隨筆</a></li>
    <% if(user) { %>
    <li><a href="/<%= user.username %>/myProfile">myProfile</a></li>
    <% } else {%>
    <li><a href="#">作品集</a></li>
    <% } %>
  </ul>
  <div class="login">
    <% if(user) { %>
    <a href="/logout"
      ><img
        style="height: 100%; width: 100%"
        src="/public/icons/logout_icon.svg"
        alt="logout"
        title="logout"
    /></a>
    <% } else {%>
    <a href="/login"
      ><img src="/public/images/user.png" alt="login" title="login" /></a
    ><% } %>
  </div>
</header>
